#CardList {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    border-radius: 0;
    margin: 49px 49px 30px 36px;

}

#Card {
    width: 176px;
    font-size: .75rem;
    flex: 0 0 auto;       
    display: flex;
    flex-direction: column;
    position: relative;
}

.card--info>*{
    margin-right: 2px;
   
}

.card--preview {
    width: 100%;
    height: auto;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card--title {
    /* margin: 8px 0; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--info {
    /* display: flex;
    flex: 1;
    margin-top: 9px;
    justify-content: flex-start;
    max-height: 14px; */
    
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

.card--review, .card--location {
    color: #918E9B;
}


.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}