#Card {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    width: 176px;
    height: auto;
}

.card--info>*{
    margin-right: 2px;
   
}

.card--info {
    display: flex;
    flex: 1;
    margin-top: 9px;
    justify-content: flex-start;
    max-height: 14px;
    
}

.card--star {
    height: 14px;
}

.card--review, .card--location {
    color: #918E9B;
}

.card--title {
    margin: 8px 0;
}