#hero{
    max-width: 550px;
}

.heroImg {
    padding: 26px 77px;
    width: 100%;
    height: auto;
}

.title {
    margin: 0;
    padding: 32px 36px 0px 36px;
    font-size: 36px;
}

.subText {
    margin: 16px 36px;
    width: 320px;
}