* {
    box-sizing: border-box;
    margin: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    font-family: Poppins, sans-serif;
    background-color: bisque;
}
#page {
    max-width: 550px;
    background-color: white;
    border-radius: 9px;
}
#page > *{
    border-radius: 9px;
}

#root {
    flex: 1;
    display: flex;

    justify-content: center;
    align-items: center;
}

